@page
@using Test_ASP.Pages.Shared
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

@*@(await Html.RenderComponentAsync<HelloWorld>(RenderMode.ServerPrerendered))
*@
<component type="typeof(Measures)" render-mode="ServerPrerendered" />

<script src="~/_framework/blazor.server.js"></script>
